// Fade In
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Pulse
@keyframes pulse {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(0deg) scale(1.2);
  }
  30% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(30deg) scale(1.2);
  }
  60% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

// Plane Left
@keyframes planeLeft {
  0% {
    left: -500px;
  }
  100% {
    left: 120%;
  }
}

// In From Left
@keyframes rocketLeft {
  0% {
    bottom: 30%;
    left: -50%;
    transform: rotate(20deg) scale(1);
  }
  10% {
    bottom: 35%;
    transform: rotate(20deg) scale(1.5);
  }
  40% {
    left: 30%;
    transform: rotate(20deg) scale(1);
  }
  80% {
    bottom: 80%;
    transform: rotate(30deg) scale(0.5);
  }
  100% {
    bottom: 90%;
    left: 300%;
    transform: rotate(30deg) scale(0.1);
  }
}

// In From Left Flip
@keyframes moveFromLeftFlip {
  0% {
    left: -20%;
    transform: scaleX(-1);
  }
  20% {
    left: 0%;
    transform: scaleX(-1);
  }
  40% {
    left: 25%;
    transform: scaleX(-1);
  }
  59% {
    transform: scaleX(-1);
  }
  60% {
    left: 50%;
    transform: scaleX(1);
  }

  100% {
    left: -120%;
    transform: scaleX(1);
  }
}
