// colors
$gray-300: #333;
$gray-600: #666;
$gray-900: #999;
$gray-bbb: #bbb;
$gray-ccc: #ccc;
$gray-ddd: #ddd;

$dark-blue: #99f7ff;
$dark-green: #99ffdd;
$dark-orange: #ffc299;
$dark-purple: #a199ff;
$dark-pink: #ff99fc;
$dark-pink-orange: #ff9999;
$dark-yellow: #fff699;

$light-blue: #ccdeff;
$light-green: #ccffee;
$light-green-blue: #ccfbff;
$light-orange: #ffe0cc;
$light-pink: #ffd9fe;
$light-pink-orange: #ffcccc;
$light-purple: #d0ccff;
$light-yellow: #fffbcc;

$water-blue-light: #a5e2fe;
$water-blue-dark: #0a94d0;

$medium-pink: #ccadcb;
$medium-pink-orange: #ffcccc;

$white: #fff;
$black: #000;

// fonts
$font-family: "poppins", sans-serif;
$font-weight-heavy: 700;
$font-weight-normal: 500;
$font-weight-light: 300;
