@import url("//fonts.googleapis.com/css?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("//fonts.googleapis.com/css?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// colors
$gray-300: #333;
$gray-600: #666;
$gray-900: #999;
$gray-bbb: #bbb;
$gray-ccc: #ccc;
$gray-ddd: #ddd;

$dark-blue: #1b61ff;
$dark-green: #1af7ff;
$dark-orange: #ff861a;
$dark-purple: #7123ff;
$dark-pink: #f221ff;
$dark-yellow: #ffec1a;

$white: #fff;
$black: #000;

// fonts
$font-family: "B612", sans-serif;
$font-weight-heavy: 700;
$font-weight-normal: 500;
$font-weight-light: 300;
