.Button {
  background-color: transparent;
  border: 0;
  margin-right: 0.75rem;
  padding: 0.1rem 0;
  width: auto;

  &:focus,
  &:hover {
    box-shadow: none;
    outline: 0;
  }

  &__transparent {
    &--selected {
      color: $dark-purple;
    }
  }

  &__light {
    background-color: $white;
    color: $dark-blue;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
  }
}
