.Button {
  background-color: transparent;
  border: 0;
  margin-right: 0.75rem;
  padding: 0.1rem 0;
  width: auto;

  &:focus,
  &:hover {
    box-shadow: none;
    outline: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &__transparent {
    &--selected {
      color: $dark-purple;
    }
  }

  &__light {
    background-color: $white;
    color: $dark-blue;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $dark-purple;
    }
  }

  &__dark {
    background-color: $dark-blue;
    color: $white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: $dark-purple;
    }
  }
}
