.Section1 {
  $margin-top-desktop: 80px;

  @include sectionStyles();

  &__background {
    @include backgroundStyles();
    background: linear-gradient($dark-purple, $dark-purple-pink);
  }

  &__container {
    @include media-breakpoint-up(lg) {
      margin-top: -$margin-top-desktop;
    }
  }

  &__column {
    @include media-breakpoint-up(lg) {
      min-height: $min-section-height-desktop;
    }
  }

  &__content {
    margin-top: 3rem;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 80%;
    }

    @include media-breakpoint-up(lg) {
      width: auto;
    }

    @include media-breakpoint-up(lg) {
      max-width: auto;
    }
  }

  &__field {
    margin-top: 1rem;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 80%;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 15%;
      margin-left: 20%;
      width: auto;
    }
  }
}
