.Section1 {
  @include sectionStyles();
  margin-top: 60px;

  @include media-breakpoint-up(lg) {
    margin-top: 80px;
  }

  &__background {
    @include backgroundStyles();
    background: linear-gradient($dark-purple, $dark-purple-pink);
  }

  &__column {
    @include media-breakpoint-up(lg) {
      min-height: $min-section-height;
    }
  }
}
