.SkillBox {
  @include boxStyles();
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  span > span:first-of-type {
    color: $gray-300;
    font-weight: $font-weight-bold;
    margin-right: 1rem;
  }
}
