.SkillButton {
  background-color: transparent;
  border: 0;
  margin-right: 0.75rem;
  padding: 0.25rem 0;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: auto;
  }

  &:focus,
  &:hover {
    box-shadow: none;
    outline: 0;
  }
}
